sudo: required

services:
  - docker

# create the build env
before_install:
  - docker build -t react-test -f ./client/Dockerfile.dev ./client
script:
  - docker run -e CI=true react-test npm test

# create prod env
after_success:
  - docker build -t neeruram/multi-client ./client
  - docker build -t neeruram/multi-nginx ./nginx
  - docker build -t neeruram/multi-server ./server
  - docker build -t neeruram/multi-worker ./worker
#log into docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin 
# push the images to docker hub
  - docker push neeruram/multi-client
  - docker push neeruram/multi-nginx
  - docker push neeruram/multi-server
  - docker push neeruram/multi-worker